---
layout: default
---

<article class="gallery">
  <div class="block has-text-centered">
    {% if page.description_markdown %}{{ page.description_markdown | markdownify }}{% endif %}
  </div>

  {% if page.images[0].image_path %}
  <section class="gallery columns is-multiline is-mobile">
    {% for image in page.images %}
      {% if image.image_path %}
        <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile has-text-centered">
          <a href="{% include imgpath.html src=image.image_path max-w=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ image.image_title }} - {{ image.image_description_markdown | markdownify }}">
            {% include img.html src=image.image_path width=200 height=200 fit=crop alt=image.image_title %}
          </a>
          <figcaption class="">{{ image.image_title }} 
            {% if image.image_description_markdown %}
              - {{ image.image_description_markdown | markdownify }}
            {% endif %}
        </figcaption>
        </div>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}



</article>
